:root {
  --primary-color: #1b4965;
  --secondary-color: #62b6cb;
  --text-foreground: #fff;
  --text-color-secondary: #666;
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #cae9ff;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--primary-color);
  color: var(--text-foreground);
  display: flex;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  gap: 2.5em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

header p:hover {
  text-decoration: underline;
  cursor: pointer;
}

header h1 {
  flex-grow: 1;
}

header div {
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.announcements-container {
  width: 80%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(21em, 1fr));
  grid-gap: 2em;
  padding: 3em;
}

.announcement {
  cursor: pointer;

  justify-self: center;
  align-self: center;

  padding: 1em;
  background-color: #fff;
  width: 20em;
  border-radius: 0.5em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.heart-icon {
  padding: 1em;
  position: absolute;
  bottom: 0.75em;
  right: 0.75em;
  color: var(--text-primary);
  width: 25px;
  height: 25px;
}

.heart-icon:hover {
  border-radius: 50%;
  color: var(--text-foreground);
  stroke: var(--text-foreground);
  background-color: var(--secondary-color);
}

.filter {
  background-color: var(--text-foreground);
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filter p {
  margin: 0.75em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 2em;
  padding-right: 2em;
  color: var(--text-color-secondary);
  border-bottom: 2px solid transparent;
}

.filter p:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--secondary-color);
}

.filter .selected {
  border-bottom: 2px solid var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--text-foreground);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin-bottom: 1em;
}

input {
  padding: 0.75em;
  border-radius: 0.5em;
  border: 1px solid var(--text-color-secondary);
}

input:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}

.form-select {
  padding: 0.75em;
  border-radius: 0.5em;
  border: 1px solid var(--text-color-secondary);
}

.form-select:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}

button {
  padding: 0.75em 1em;
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: 600;
  border: 1px solid var(--text-color-secondary);
  background-color: var(--primary-color);
  color: var(--text-foreground);
}

button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.profile-container {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 3em;
  margin: 2em;
  background-color: var(--text-foreground);
  padding: 2em;
  padding-right: 8em;
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.profile-container img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  object-fit: cover;
}

.no-items-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1em;
  font-size: 2em;
  color: var(--text-color-secondary);
}
